body {
    background-image: url("53.jpg");
    background-repeat: no-repeat;
    /* background-color: gray; */
}

.nr h1 {
    color: #e4e4a6;
    text-align: center;
    padding: 5px;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.navBar {
    background-color: rgb(9, 6, 59);
    height: 60px;
    width: 100%;
    border: 100%;
}

.list {
    float: right;
    margin-right: 20px;
}

.list li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

.list a {
    color: white;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

a.active,
a:hover {
    background-color: dimgray;
    /* font-weight: bold; */
}

.bar {
    position: relative;
}

.dropdown {
    background-color: grey;
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 2px;
}

.dropdown li {
    padding: 2px 2px;
    width: 15em;
    text-align: center;
    border: 20em;
}

.bar:hover .dropdown {
    display: block;
}

.logo{
    display: flex;
    height: 250px;
    justify-content: space-between;
    background-image: url(./Ocean.jpg);
}

.mainlogo{
    height: 150px;
    padding-top: 100px;
    /* padding-bottom: 250px; */
}

.rightLogo{
    height: 100px;
    /* padding-bottom: 250px; */
}

.con {
    width: 80%;
    /* border: 2px solid rgb(13, 5, 72); */
    margin: auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 2.5fr 1fr;
    /* height: 100%; */
}

.con1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: rgb(236, 225, 225); */
    grid-gap: 3rem;
    /* border: 2px solid orange; */
    /* height: 50px; */
}

.con1 .bx {
    /* border: 2px solid red; */
    text-align: center;
    background-color: rgb(156, 213, 224);
    /* height: 40px; */
}

.con1 .bx p{
    color: rgb(94, 82, 224);
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
}
.con1 .bx1,.con1 .bx2{
    margin-top: 20px;
    padding: 5px;
}

.news {
    border: 2px solid rgb(37, 32, 183);
    /* height: 100px; */
}

.news h2 {
    text-align: center;
    background-color: wheat;
}
.con1 img{
    height: 100px;
    /* margin: auto; */
    width: 50%;
}
.pa p{
    font-weight: bold;
    padding: 10px;
    color: white;
}
.pa{
    background-color: rgb(99, 121, 235);
}
.an{
    margin-bottom: 20px;
}
.bx4 a:hover{
   color: blue;
   background-color: white;
}
.ch{
    padding: 10px;
}