body{
    background-image: url("5.jpg");
    background-repeat: no-repeat;
   /* background-color: gray; */
}
.nr h1{
    color: wheat;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.navBar{
    background-color: rgb(222, 213, 213);
    height: 50px;
    width: 100%;
}
.list{
    float: right;
    margin-right: 20px;
}
.list li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}
.list a{
    color: white;
    color: blue;
    text-decoration: none;
}
a.active, a:hover{
    background-color:dimgray;
}